<%= flash[:notice] %>
<h1>作成したユーザ一覧のページ</h1>
<%= attachment_image_tag current_user, :profile_image,size: "100x100" %>
<p>名前</p>
<p><%= current_user.name %></p>
<p>自己紹介</p>
<p><%= current_user.introduction %></p>
<%= link_to 'プロフィール編集' ,edit_user_path(current_user.id) %>
<h2>作成したユーザ</h2>
<% @users.each do |users| %>
  <%= attachment_image_tag current_user, :profile_image,size: "100x100" %>
  <p><%= users.name %></p>
  <%= link_to 'show',user_path(users.id) %><br>
<% end %>
<%= form_for @booknew do |f| %>
  <div class="field row">
    <label for="book_title">Title</label>
    <%= f.text_field :title,class:"col-xs-12 book_title" %>
  </div>
  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <%= f.text_area :body,class:"col-xs-12 book_body" %><br />
  </div>
  <div class="actions row">
    <%= f.submit 'Create Book',class:"btn btn-primary col-xs-12" %>
  </div>
<% end %>
