<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Contenue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <nav>
      <ul>
        <li><%= link_to 'home',user_path(current_user.id) %></li>
        <li><%= link_to 'users',users_path %></li>
        <li><%= link_to 'books',books_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
    <% else %>
      <nav>
        <ul>
          <li><%= link_to 'home',root_path %></li>
          <li><%= link_to 'show',tops_path %></li>
          <li><%= link_to 'login',new_user_session_path %></li>
          <li><%= link_to 'sign up',new_user_registration_path %></li>
        </ul>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
